body {
  text-align: center;
}


p {
  font-size: 15px;
}

ul {
  list-style-position: inside;
}

li {
  padding-bottom: 20px;
}


.dark {
  background-color: #000;
  color: #000;
}

.light {
  color: #fff;
}


